/* You can add this in your global CSS or component CSS file */
.slider-container {
    width: 100%; /* Full width of parent container */
    max-width: full; /* Prevents overflow */
    overflow: hidden;
  }
  
  .slide-item {
    width: auto; 
  }
  
  .slide-image {
    width: 100%;
    height:80vh;     /* Optional, set height to fill viewport */
    object-fit: cover; /* Ensures image scales without distortion */
    border-radius: 10px;
  }
  