/* You can add this in your global CSS or component CSS file */
.slider-container {
    width: 80%; /* Full width of parent container */
    max-width: full; /* Prevents overflow */
    overflow: hidden;
    margin-left: 12rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .slide-item {
    width: auto; 
  }
  
  .slide-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:80vh;     /* Optional, set height to fill viewport */
     /* Ensures image scales without distortion */
    border-radius: 10px;
  }
  